* {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    background-color: white;
}

@font-face {
    font-family: logoFont;
    src: url(BirthstoneBounce-Regular.ttf);
}

@font-face {
    font-family: blogFont;
    src: url(SpecialElite-Regular.ttf);
}

h1 {
    text-align: center;
    margin: 20px;
    font-family: logoFont;
    font-size: 64px;
}

h2 {
    text-align: left;
    margin: 10px;
    margin-left: 10%;
    font-family: logoFont;
    font-size: 32px;
}

h3 {
    font-family: blogFont;
    font-size: 14px;
    text-align: left;
    margin: 5px;
    margin-left: 15%;
}

ul.menu {
    color: white;
    list-style-type: none;
    font-size: 100%;
    margin: 0%;
    padding: 0px;
    width: 100%;
    position: sticky;
    top: 0px;
    overflow: hidden;
    background-color: cadetblue;
}

li a {
    color: whitesmoke;
    float: left;
    border-right: 2px solid white;
    display: block;
    padding: 20px 16px;
    background-color: cadetblue;
    text-decoration: none;
    text-align: center;
    transition-property: color, background-color;
    transition-duration: 500ms;
}

li a.last {
    float: right;
    border-left: 2px solid white;
    font-size: 100%;
}

li a.head {
    background-color: white;
    color: black;
    float: ;
}

li a:hover:not(.active):not(.head) {
    background-color: white;
    color: cadetblue;
}

li a.active {
    background-color: darkcyan;
}

li.endli {
    background-color: cadetblue;
}

ul.end {
    color: white;
    background-color: cadetblue;
    text-decoration: none;
    list-style-type: none;
    display: block;
    margin: 0%;
    padding: 5px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
}
